/*
DISCLAIMER: The sample code described herein is provided on an "as is" basis, without 
warranty of any kind, to the fullest extent permitted by law. ForgeRock does not warrant 
or guarantee the individual success developers may have in implementing the sample code on 
their development platforms or in production configurations.
ForgeRock does not warrant, guarantee or make any representations regarding the 
use, results of use, accuracy, timeliness or completeness of any data or information relating to the sample code. 
ForgeRock disclaims all warranties, expressed or implied, and in particular, disclaims all warranties of merchantability, 
and warranties related to the code, or any service or software related thereto.
ForgeRock shall not be liable for any direct, indirect or consequential damages or costs of any type arising 
out of any action taken by you or others related to the sample code.

 *
 */




    <style media="screen" type="text/css">
    /* <!-- */
    /* General styles */
    body {
	    line-height: 1.6em;
    }

	/* Header styles */
    #header {
        clear:both;
        float:left;
        width:100%;
    }
	#header {
		border-bottom:1px solid #000;
	}
	#header p,
	#header h1,
	#header h2 {
	    padding:.4em 15px 0 15px;
        margin:0;
	}
	#header ul {
	    clear:left;
	    float:left;
	    width:100%;
	    list-style:none;
	    margin:10px 0 0 0;
	    padding:0;
	}
	#header ul li {
	    display:inline;
	    list-style:none;
	    margin:0;
	    padding:0;
	}
	#header ul li a {
	    display:block;
	    float:left;
	    margin:0 0 0 1px;
	    padding:3px 10px;
	    text-align:center;
	    background:#eee;
	    color:#000;
	    text-decoration:none;
	    position:relative;
	    left:15px;
		line-height:1.3em;
	}
	#header ul li a:hover {
	    background:#369;
		color:#fff;
	}


	#header ul li a.active,
	#header ul li a.active:hover {
	    color:#fff;
	    background:#000;
	    font-weight:bold;
	}
	#header ul li a span {
	    display:block;
	}
	/* 'widths' sub menu */
	#layoutdims {
		clear:both;
		background:#eee;
		border-top:4px solid #000;
		margin:0;
		padding:6px 15px !important;
		text-align:right;
	}
	/* column container */
	.colmask {
		position:relative;		/* This fixes the IE7 overflow hidden bug and stops the layout jumping out of place */
	    clear:both;
	    float:left;
        width:100%;			/* width of whole page */
		overflow:hidden;	/* This chops off any overhanging divs */
	}
	/* 1 column full page settings */
	.fullpage {
	    background:#fff;
	}
	.fullpage .col1 {
        margin:0 15px;
	}
	/* Footer styles */
	#footer {
        clear:both;
        float:left;
        width:100%;
		border-top:1px solid #000;
    }
    #footer p {
        padding:10px;
        margin:0;
    }
    /* --> */


	#hor-minimalist-a
	{
		font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
		font-size: 12px;
		background: #fff;

	}
	#hor-minimalist-a th
	{
		font-size: 14px;
		font-weight: normal;
		padding: 10px 8px;
		border-bottom: 2px solid #6678b1;
	}
	#hor-minimalist-a td
	{
		padding: 9px 8px 0px 8px;
	}
	#hor-minimalist-a tbody tr:hover td
	{
		color: #009;
	}

	#hor-minimalist-a .odd
	{
		background: #eee; 
	}


	#newspaper-a
	{
		font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
		font-size: 12px;
		margin: 45px;
		width: 780px;
		text-align: left;
		border-collapse: collapse;
		border: 1px solid #69c;
	}
	#newspaper-a th
	{
		padding: 12px 17px 12px 17px;
		font-weight: normal;
		font-size: 14px;
		color: #039;
		border-bottom: 1px dashed #69c;
	}
	#newspaper-a td
	{
		padding: 7px 17px 7px 17px;
		color: #669;
	}
	#newspaper-a tbody tr:hover td
	{
		color: #339;
		background: #d0dafd;
	}


	input, textarea, select {
	  font-size: 12px;
	  font-family: Courier, Serif;
	  color: #54b948; }

	textarea {
	  overflow: auto;
	  border: solid 3px #666666;
	  background: black;
	  padding: 2px;
	  width: 300px;
	  height: 350px; }

    </style>